@media only screen and (max-device-width: 900px) {
    .cards {
        flex-flow: column;
        align-items: center;
    }

    .card {
        width: 40rem;
        height: auto;
    }

    .card-title {
        font-size: 50px;
    }

    .card-text {
        font-size: 35px;
    }

    .botao {
        width: auto;
        font-size: 35px;
    }
}