@media only screen and (max-device-width: 900px) {
    .modal-title {
        font-size: 50px;
    }

    .modal-body {
        font-size: 35px;
    }

    .btn {
        font-size: 35px;
    }
}